<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-facebook fa-lg"></i>
      <i class="fa-brands fa-instagram fa-lg"></i>
      <i class="fa-brands fa-linkedin fa-lg"></i>
    </div>
    <div class="f-info-brand">&copy; RentIt Private Limited</div>
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
  </div>
</footer>